@media (max-width: 1200px) {

    .detalhesbody {
        background-color: rgb(192, 214, 255);
        color: black;
    }

    .imagemDetalhes {
        max-width: 75%;
        margin: auto;
        display: block;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #000000;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .detalhesbody {
        color: white;
    }
    
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-titulo {
        max-width: 75%;
    }

    .container .capa {
        max-width: 75%;
        margin: auto;
        display: block;
    }

    .imagemDetalhes {
        max-width: 75%;
        margin: auto;
        display: block;
    }
}

@media (max-width: 350px) {
    .detalhesbody {
        color:white;
    }

    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        font-size: 5px;
    }

    .imagemDetalhes {
        max-width: 75%;
        margin: auto;
        display: block;
    }
}
